*{
  margin: 0px;
  padding: 0px
}
header{
  width: auto;
  height: 75px;
  background-color: grey;
}
header nav ul{
  float: right;
  text-decoration: none;
  padding-right: 30px;
  padding-top: 20px;
}
header nav ul li{
  list-style: none;
  text-decoration: none;
}
.intro{
  padding-top: 80px;
  display: flex;
  flex-basis: 50%;
}
.text{
  width: 40%;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  padding-right: 50px;
  padding-top: 80px;
}
.text h2{
  font-size: 50px;
}
.text p{
  font-size: 25px;
}
.image{
  padding-left: 50px;
  padding-right: 50px;
}
.image img{
  width: 350px;
  height: 350px;
}
.myself{
  padding-top: 300px;
  display: flex;
  flex-basis: 50%;
  flex-direction: row-reverse;
}
.txt{
  width: 40%;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  padding-right: 50px;
  padding-top: 80px;
}
.photo{
  padding-left: 50px;
  padding-right: 150px;
}
.photo img{
  width: 350px;
  height: 350px;
}
.txt p{
  font-size: 25px;
}
